{{! This is the main page layoutso this is the only page that needs this head. }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ALT-F4 | Review and Discover The Latest Games</title>

    {{! Tailwind UI Link }}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    {{! Tailwind Inter Font Family }}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    {{! Tailwind CSS Link }}
    <link
      href="https://unpkg.com/tailwindcss@%5E1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {{! Our Stylesheet }}
    <link rel="stylesheet" href="/css/style.css" />
    {{!-- LOGO ADDED TO WEBSITE--}}
    <link rel="shortcut icon" type="image/jpg" href="/images/croped_logo.jpg"/>
  </head>
  
  <body>
    <!-- HEADER OF PAGE -->
    <section class="w-full px-8 text-gray-700 bg-white">
      <div
        class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl"
      >

        {{! LEFT HAND DIV CONTAINER }}
        <div class="relative flex flex-col md:flex-row">

          {{! LOGO }}
          <a
            {{! This makes the Text logo clickable to redirect to the homepage }}
            href="/"
            class="flex items-center mb-5 font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-center md:mb-0"
          >
            {{! This 'a' tag will create a link to redirect to the homepage}}
          <a href="/" target="_blank" class="flex items-center">
            {{! IMAGE LOGO TOP LEFT }}
            <img
              src="/images/croped_logo.jpg"
              class="mr-0 h-10"
              alt="ALTF4_LOGO"
            />
          </a>

          {{! NAV BAR }}
          <nav
            class="flex flex-wrap items-center mb-5 text-base md:mb-0 md:pl-8 md:ml-8 md:border-l md:border-gray-200"
          >
            <a
              href="/"
              class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900"
            >Home</a>
            <a
              href="/aboutUs"
              class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900"
            >About Us</a>
            <a
              href="/dashboard"
              class="mr-5 font-medium leading-6 text-gray-600 hover:text-gray-900"
            >Dashboard</a>
          </nav>
        </div>

        {{! SEARCH BAR }}
        <div class="pt-2 relative mx-auto text-gray-600">

        {{! INPUT BOX }}
          <input
            class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
            type="search"
            name="search"
            placeholder="Search"
        {{! USER SEARCH ID }}
            id="user-search"
          />

        {{! SEARCH BUTTON ICON }}
          <button
            id="search-btn"
            type="submit"
            class="absolute right-0 top-0 mt-5 mr-4"
          >
          {{! This SVG creates the icon and the path is drawing the image from a set of Co-ordinates  }}
            <svg
              class="text-gray-600 h-4 w-4 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1"
              id="Capa_1"
              x="0px"
              y="0px"
              viewBox="0 0 56.966 56.966"
              style="enable-background:new 0 0 56.966 56.966;"
              xml:space="preserve"
              width="512px"
              height="512px"
            >
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z"
              ></path>
            </svg>
          </button>
        </div>

          {{! LOGIN AND SIGNUP BUTTON }}
        <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">
          <a
            href="/signUp"
            class="text-base font-medium leading-6 text-gray-600 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-900"
          >Sign Up</a>
          <a
            id="login-btn"
            href="/login"
            class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-500 border border-transparent shadow-sm hover:bg-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 rounded-md"
          >Login</a>
        </div>

          {{! CLOSING DIV }}
      </div>
    </section>

          {{! MAIN PAGE SECTION }}
    {{{body}}}

          {{! GREY SEPERATION LINE }}
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

          {{! FOOTER }}
    <footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
      <div class="md:flex md:justify-between">

          {{! LEFT HAND LOGO }}
        <div class="mb-6 md:mb-0">

          {{! This 'a' tag will create a link to redirect to the homepage}}
          <a href="/" target="_blank" class="flex items-center">

          {{! IMAGE LOGO }}
            <img
              src="/images/croped_logo.jpg"
              class="mr-0 h-10"
              alt="ALTF4_LOGO"
            />
            <span
              class="mx-auto text-xl font-black leading-none text-gray-900 select-none"
            >ALT<span class="text-indigo-500">F4</span></span>
          </a>
        </div>

          {{! RIGHT HAND INFO LINKS }}
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">

          {{! RESOURCES COLUMN }}
          <div>
          {{! Title of Column }}
            <h3
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >Resources</h3>

          {{! List Below Column }}
            <ul>
              <li class="mb-4">
                <a
                  href="/aboutUs"
                  target="_blank"
                  class="text-gray-600 hover:underline dark:text-gray-400"
                >ALT-F4</a>
              </li>
              <li>
                <a
                  href="/aboutUs"
                  target="_blank"
                  rel="nofollow"
                  class="text-gray-600 hover:underline dark:text-gray-400"
                >FAQ</a>
              </li>
            </ul>
          </div>

          {{! FOLLOW US COLUMN }}
          <div>

          {{! Title of Column }}
            <h3
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >OUR WORK</h3>

          {{! List below Column }}
            <ul>
              <li class="mb-4">
                <a
                  href="https://github.com/Yutthana00/ALT-F4"
                  target="_blank"
                  class="text-gray-600 hover:underline dark:text-gray-400"
                >Github</a>
              </li>
              <li>
                <a
                  href="/aboutUs"
                  target="_blank"
                  class="text-gray-600 hover:underline dark:text-gray-400"
                >The Team</a>
              </li>
            </ul>
          </div>

          {{! CONTACT COLUMN }}
          <div>

          {{! Title of Column }}
            <h3
              class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
            >CONTACT US</h3>

          {{! List Below Column }}
            <ul>
              <li class="mb-4">
                <a
                  href="/aboutUs"
                  target="_blank"
                  class="text-gray-600 hover:underline dark:text-gray-400"
                >About Us</a>
              </li>
              <li>
                <a
                  href="/aboutUs"
                  target="_blank"
                  class="text-gray-600 hover:underline dark:text-gray-400"
                >Contact</a>
              </li>
            </ul>
          </div>

          {{! CLOSING DIVS }}
        </div>
      </div>

          {{! GREY SEPERATION LINE }}
      <hr
        class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
      />

          {{! BELOW LINE INFO CONTAINER DIV }}
      <div class="sm:flex sm:items-center sm:justify-between">
          {{! LEFT HAND COPRYRIGHT INFO }}
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">©
          2022
          <a
            href="/aboutUs"
            target="_blank"
            class="hover:underline"
          >ALT-F4™</a>. All Rights Reserved.
        </span>

          {{! LEFT HAND SOCIAL MEDIA ICONS }}
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
          {{! Each icon is created using XML code block that is served and rendered in the browser }}
          {{! Each Path within the SVG tags are the coordinates the image is drawn from }}
          {{! The <a> href="" </a>  will create a corresponding link to the icon}}


          {{! GitHub Icon}}
          <a
            href="https://github.com/Yutthana00/ALT-F4"
            class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
          >
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
          {{! CLOSING FOOTER }}
    </footer>
    <script src="/js/gameSearch.js"></script>
  </body>
</html>