{{! OUR TEAM }}
<section class="relative py-20 overflow-hidden bg-white">
  <span
    class="absolute top-0 right-0 flex flex-col items-end mt-0 -mr-16 opacity-60"
  >
    <span
      class="container hidden w-screen h-32 max-w-xs mt-20 transform rounded-full rounded-r-none md:block md:max-w-xs lg:max-w-lg 2xl:max-w-3xl bg-blue-50"
    ></span>
  </span>
  <span class="absolute bottom-0 left-0"> </span>
  <div class="relative px-16 mx-auto max-w-7xl">
    <section class="relative py-16 bg-white min-w-screen animation-fade animation-delay "
>
  <div class="container px-0 px-8 mx-auto sm:px-12 xl:px-5">
    <p
      class="text-xs text-center font-bold text-left text-indigo-400 uppercase sm:mx-6 sm:text-center sm:text-normal sm:font-bold"
    >
      Who built ALT F4?
    </p>
    <h3
      class="mt-1 text-2xl font-bold text-left text-gray-800 sm:mx-6 sm:text-3xl md:text-4xl lg:text-5xl sm:text-center sm:mx-0"
    >
      Meet Our Team!
    </h3>
    <div class="grid w-full gap-10 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1">
{{! RYAN }}
      <div class="flex flex-col items-center justify-center col-span-1">
        <div class="relative p-5">
          <div
            class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-indigo-50"
          ></div>
          <img
            class="relative z-20 w-full rounded-full"
            src="/images/ryan_image.png"
          />
        </div>
        <div class="mt-3 space-y-2 text-center">
          <div class="space-y-1 text-lg font-medium leading-6">
            <h3 class="">Ryan O'Connor</h3>
            <p class="text-indigo-500">CEO and Founder</p>
          </div>
          <div class="relative flex items-center justify-center space-x-3">
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                ></path></svg>
            </a>
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                ></path></svg>
            </a>
          </div>
        </div>
      </div>

{{! YASMIN }}
      <div class="flex flex-col items-center justify-center col-span-1">
        <div class="relative p-5">
          <div
            class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-indigo-50"
          ></div>
          <img
            class="relative z-20 w-full rounded-full"
            src="/images/yasmin_image.jpg"
          />
        </div>
        <div class="mt-3 space-y-2 text-center">
          <div class="space-y-1 text-lg font-medium leading-6">
            <h3 class="">Yasmin A</h3>
            <p class="text-indigo-500">CEO and Founder</p>
          </div>
          <div class="relative flex items-center justify-center space-x-3">
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                  class=""
                ></path></svg>
            </a>
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                  class=""
                ></path></svg>
            </a>
          </div>
        </div>
      </div>

{{! YUTTHANA }}
      <div class="flex flex-col items-center justify-center col-span-1">
        <div class="relative p-5">
          <div
            class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-indigo-50"
          ></div>
          <img
            class="relative z-20 w-full rounded-full"
            src="/images/yutthana_image.jpg"
          />
        </div>
        <div class="mt-3 space-y-2 text-center">
          <div class="space-y-1 text-lg font-medium leading-6">
            <h3 class="">Yutthana</h3>
            <p class="text-blue-600 text-indigo-500">CEO and Founder</p>
          </div>
          <div class="relative flex items-center justify-center space-x-3">
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                  class=""
                ></path></svg>
            </a>
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                  class=""
                ></path></svg>
            </a>
          </div>
        </div>
      </div>

{{! CLOSING }}
    </div>
  </div>
</section>

{{! FAQ SECTION }} <section class="relative py-16 min-w-screen animation-fade animation-delay"
>
  <div class="bg-zinc-400 container px-0 px-8 mx-auto sm:px-12 xl:px-5">
    <p
      class="text-xs text-center font-bold text-left text-indigo-400 uppercase sm:mx-6 sm:text-center sm:text-normal sm:font-bold"
    >
      Got a Question? We've got answers.
    </p>
    <h3
      class="mt-1 text-2xl text-center font-bold text-left text-gray-800 sm:mx-6 sm:text-3xl md:text-4xl lg:text-5xl sm:text-center sm:mx-0"
    >
      Frequently Asked Questions
    </h3>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3 class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl">Why
        did we create Alt-F4?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal text-justify ">ALT F4
        is a site where you can escape from the real world to discover and leave
        reviews for current and upcoming games. We believe in bringing together
        the gaming community through shared love and opinion from true gamers..</p>
    </div>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3 class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl text-justify ">How
        does it work?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">Simply
        search for a game(s) of your choice or check out our discovery section
        on the homepage to find up-and-coming games. Crate an account to leave
        your own reviews on your favourite games and look through other gamers'
        point of views on a game. .</p>
    </div>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3 class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl">Do I
        need an account?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal text-justify ">You can
        easily navigate through our website without an account. However, you
        will not be able to leave a review or access the dashboard page.
      </p>
    </div>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3
        class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl"
      >Something broken?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal text-justify ">If any
        issues arise, please contact us using the link in the footer. We will
        get back to you as soon as possible.</p>
    </div>
  </div>
</section>
<script src="/js/logout.js"></script>