<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

    <div class="px-4 py-6 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">

        {{! ACCOUNT SETTINGS }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Account Settings</h2>

          {{! ACCOUNT INFO BOX }}
          <div class="bg-white shadow m-6 overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Applicant
                Information</h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details
                and application.</p>
            </div>
            <div class="border-t border-gray-200">
              <dl>
                {{! NAME SECTION }}
                <div
                  class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! NAME TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Name</dt>
                  {{! USER NAME GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >Placement</dd>
                </div>

                {{! EMAIL SECTION }}
                <div
                  class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! EMAIL TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Email address</dt>
                  {{! USER EMAIL GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >placement@Example.com</dd>
                </div>

              </dl>
            </div>
          </div>

          {{! LOGOUT }}
          <button
            class="bg-indigo-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Logout
          </button>

          {{! DEACTIVATE ACCOUNT }}
          <button
            class="bg-red-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Deactivatte Account
          </button>
        </div>

        {{! PREVIOUS REVIEWS RENDER  }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Previous Reviews</h2>

          {{! HOW MANY REVIEWS THE USER HAS }}
          <a
            href="#"
            class="text-sm m-6 font-medium text-gray-900 underline hover:no-underline dark:text-white"
          >73 reviews</a>

          {{! PREVIOUS TIMELINE OF REVIEWS }}
          <li class="mb-10 ml-6">

            <span
              class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
            >
              {{! IMAGE OF GAME HERE }}
              <img
                class="rounded-full shadow-lg"
                src="/docs/images/people/profile-picture-5.jpg"
                alt="Thomas Lean image"
              />
            </span>
            <div
              class="p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600"
            >
              <div class="justify-between items-center mb-3 sm:flex">

                {{! WHEN COMMENTED }}
                <time
                  class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                >2 hours ago</time>

                {{! USER NAME HERE }}
                <div
                  class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                >
                  xBZRKR Reviewed

                  {{! GAME NAME HERES }}
                  <a
                    href="#"
                    class="font-semibold text-gray-900 dark:text-white hover:underline"
                  >Name Of Game</a></div>
              </div>
              <div
                class="p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
              >First game in a long time where you get exactly what you payed
                for and exactly what was advertised, no micro transactions, no
                battle pass, just a massive playground where the only one
                limiting your enjoyment and progression is you. The only thing
                as grand and marvelous as the world itself are the horrors
                attempting to keep you from your goals. Elden ring is as hard as
                you make it.Flaws are few and far between (a few npc quests were
                unfinished and guess what, its already been patched-looking at
                you coz!.) I wish other game developers put as much love, care,
                and dedication to its games, its fans, and its employees as
                FromSoftware has.</div>
            </div>
          </li>
          {{! CLOSING PREVIOUS REVIEWS }}
        </div>

        {{! PREVIOUS COMMENTS TIMELINE }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Previous Comments</h2>

          {{! HOW MANY REVIEWS THE USER HAS }}
          <a
            href="#"
            class="text-sm m-6 font-medium text-gray-900 underline hover:no-underline dark:text-white"
          >73 reviews</a>

          {{! PREVIOUS TIMELINE OF REVIEWS }}
          <li class="mb-10 ml-6">

            <span
              class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
            >
              {{! IMAGE OF GAME HERE }}
              <img
                class="rounded-full shadow-lg"
                src="/docs/images/people/profile-picture-5.jpg"
                alt="Thomas Lean image"
              />
            </span>
            <div
              class="p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600"
            >
              <div class="justify-between items-center mb-3 sm:flex">

                {{! WHEN COMMENTED }}
                <time
                  class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                >2 hours ago</time>

                {{! USER NAME HERE }}
                <div
                  class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                >
                  xBZRKR Commented on

                  {{! REVIEWER NAME GOES HERE }}
                  <div
                    class="font-semibold text-gray-900 dark:text-white hover:underline"
                  >
                    Name Of User
                  </div>
                </div>

              </div>
              <div
                class="p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
              >DUDE THIS IS SO TRUUUEEE.</div>
            </div>
          </li>

        </div>

        {{! CLOSING TAGS }}
      </div>
    </div>

  </div>
</main>

{{! OUR TEAM }}
<section class="relative py-20 overflow-hidden bg-white">
  <span
    class="absolute top-0 right-0 flex flex-col items-end mt-0 -mr-16 opacity-60"
  >
    <span
      class="container hidden w-screen h-32 max-w-xs mt-20 transform rounded-full rounded-r-none md:block md:max-w-xs lg:max-w-lg 2xl:max-w-3xl bg-blue-50"
    ></span>
  </span>

  <span class="absolute bottom-0 left-0"> </span>

  <div class="relative px-16 mx-auto max-w-7xl">
    <p class="font-medium tracking-wide text-indigo-500 uppercase">Who built
      ALT-F4?</p>
    <h2
      class="relative max-w-lg mt-5 mb-10 text-4xl font-semibold leading-tight lg:text-5xl"
    >Meet <br />Our Team</h2>
    <div class="grid w-full gap-10 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1">

      {{! RYAN }}
      <div class="flex flex-col items-center justify-center col-span-1">
        <div class="relative p-5">
          <div
            class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-indigo-50"
          ></div>
          <img
            class="relative z-20 w-full rounded-full"
            src="/images/ryan_image.png"
          />
        </div>
        <div class="mt-3 space-y-2 text-center">
          <div class="space-y-1 text-lg font-medium leading-6">
            <h3 class="">Ryan O'Connor</h3>
            <p class="text-indigo-500">CEO and Founder</p>
          </div>
          <div class="relative flex items-center justify-center space-x-3">
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                ></path></svg>
            </a>
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                ></path></svg>
            </a>
          </div>
        </div>
      </div>

      {{! YASMIN }}
      <div class="flex flex-col items-center justify-center col-span-1">
        <div class="relative p-5">
          <div
            class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-indigo-50"
          ></div>
          <img
            class="relative z-20 w-full rounded-full"
            src="/images/yasmin_image.jpg"
          />
        </div>
        <div class="mt-3 space-y-2 text-center">
          <div class="space-y-1 text-lg font-medium leading-6">
            <h3 class="">Yasmin A</h3>
            <p class="text-indigo-500">CEO and Founder</p>
          </div>
          <div class="relative flex items-center justify-center space-x-3">
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                  class=""
                ></path></svg>
            </a>
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                  class=""
                ></path></svg>
            </a>
          </div>
        </div>
      </div>

      {{! YUTTHANA }}
      <div class="flex flex-col items-center justify-center col-span-1">
        <div class="relative p-5">
          <div
            class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-indigo-50"
          ></div>
          <img
            class="relative z-20 w-full rounded-full"
            src="https://cdn.devdojo.com/images/june2021/avt-20.jpg"
          />
        </div>
        <div class="mt-3 space-y-2 text-center">
          <div class="space-y-1 text-lg font-medium leading-6">
            <h3 class="">Yutthana</h3>
            <p class="text-blue-600 text-indigo-500">CEO and Founder</p>
          </div>
          <div class="relative flex items-center justify-center space-x-3">
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                  class=""
                ></path></svg>
            </a>
            <a href="#_" class="text-gray-300 hover:text-gray-400">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 fill-current"
                viewBox="0 0 24 24"
              ><path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                  class=""
                ></path></svg>
            </a>
          </div>
        </div>
      </div>

      {{! CLOSING }}
    </div>
  </div>
</section>

{{! FAQ SECTION }}
<section
  class="relative py-16 bg-white min-w-screen animation-fade animation-delay"
>
  <div class="container px-0 px-8 mx-auto sm:px-12 xl:px-5">
    <p
      class="text-xs font-bold text-left text-indigo-400 uppercase sm:mx-6 sm:text-center sm:text-normal sm:font-bold"
    >
      Got a Question? We’ve got answers.
    </p>
    <h3
      class="mt-1 text-2xl font-bold text-left text-gray-800 sm:mx-6 sm:text-3xl md:text-4xl lg:text-5xl sm:text-center sm:mx-0"
    >
      Frequently Asked Questions
    </h3>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3 class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl">Why
        did we create Alt-F4?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">Our
        platform is a place you can discover and review old and upcomming games.
        We believe in bringing together the gaming community through shared love
        and hatred of games.</p>
    </div>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3 class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl">How
        does it work?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">You are
        able to search for a game of your choice or check our discovery section
        on our homepage to find the up and coming games. After clicking on a
        game, your are able to leave a review.</p>
    </div>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3 class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl">Do I
        need an account?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">You can
        easily navigate our website without an account. However, you will not be
        able to leave a review without an account.
      </p>
    </div>
    <div
      class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3 rounded-md"
    >
      <h3
        class="text-lg font-bold text-indigo-400 sm:text-xl md:text-2xl"
      >Something doesn't work, what do I do?</h3>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">If there
        are any problems, please contact us using the link in the footer. We
        will get back to you as soon as possible.</p>
    </div>
  </div>
</section>

<button
  id="logout"
  class="bg-indigo-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
>
  Logout
</button>

<script src="/js/logout.js"></script>