
{{! DASHBOARD HEADER}}
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">Dashboard</h1>
  </div>
</header>

{{! DASHBOARD HEADER}}

<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

    <div class="px-4 py-6 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">

        {{! ACCOUNT SETTINGS }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Account Settings</h2>

          {{! ACCOUNT INFO BOX }}
          <div class="bg-white shadow m-6 overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Account
                Information</h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details</p>
            </div>
            <div class="border-t border-gray-200">
              <dl>
                {{! NAME SECTION }}
                <div
                  class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! NAME TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Name</dt>
                  {{! USER NAME GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >{{user.name}}</dd>
                </div>

                {{! EMAIL SECTION }}
                <div
                  class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! EMAIL TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Email address</dt>
                  {{! USER EMAIL GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >{{user.email}}</dd>
                </div>

              </dl>
            </div>
          </div>

          {{! LOGOUT }}
          <button
            id="logout"
            class="bg-indigo-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Logout
          </button>

          {{! DEACTIVATE ACCOUNT }}
          {{!-- <button
            class="bg-red-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Deactivate Account
          </button> --}}
        </div>

        {{! PREVIOUS REVIEWS RENDER  }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Previous Reviews</h2>

          {{! HOW MANY REVIEWS THE USER HAS }}
          {{! <a
            href="#"
            class="text-sm m-6 font-medium text-gray-900 underline hover:no-underline dark:text-white"
          >73 reviews</a> }}

          <div class="h-auto bg-white rounded-xl shadow-sm p-6 relative">
            <div
              class="flex items-center border-b relative border-gray-100 border-solid pb-5 mb-5"
            >
              <div class="relative">
                <p class="font-semibold text-gray-600 leading-none my-1">{{user.name}}</p>
              </div>
            </div>
            <blockquote class="text-gray-400 z-10 leading-7 relative pb-3">"games critics are the worst"</blockquote>
            <svg
              class="h-auto absolute z-0 top-0 right-0 w-12 opacity-30 mt-6 mr-7 text-gray-200"
              fill="currentColor"
              viewBox="0 0 32 32"
              aria-hidden="true"
            ><path
                d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
              ></path></svg>
          </div>

          {{! CLOSING PREVIOUS REVIEWS }}
        </div>

        {{! CLOSING TAGS }}
      </div>
    </div>

  </div>
</main>

<script src="/js/logout.js"></script>