{{! DASHBOARD HEADER}}
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">Dashboard</h1>
  </div>
</header>

{{! DASHBOARD HEADER}}
<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

    <div class="px-4 py-6 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">

        {{! ACCOUNT SETTINGS }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Account Settings</h2>

          {{! ACCOUNT INFO BOX }}
          <div class="bg-white shadow m-6 overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Applicant
                Information</h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details
                and application.</p>
            </div>
            <div class="border-t border-gray-200">
              <dl>
                {{! NAME SECTION }}
                <div
                  class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! NAME TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Name</dt>
                  {{! USER NAME GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >Placement</dd>
                </div>

                {{! EMAIL SECTION }}
                <div
                  class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! EMAIL TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Email address</dt>
                  {{! USER EMAIL GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >placement@Example.com</dd>
                </div>

              </dl>
            </div>
          </div>

          {{! LOGOUT }}
          <button
            class="bg-indigo-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Logout
          </button>

          {{! DEACTIVATE ACCOUNT }}
          <button
            class="bg-red-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Deactivatte Account
          </button>
        </div>

        {{! PREVIOUS REVIEWS RENDER  }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Previous Reviews</h2>

          {{! HOW MANY REVIEWS THE USER HAS }}
          <a
            href="#"
            class="text-sm m-6 font-medium text-gray-900 underline hover:no-underline dark:text-white"
          >73 reviews</a>

          {{! PREVIOUS TIMELINE OF REVIEWS }}
          <li class="mb-10 ml-6">

            <span
              class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
            >
              {{! IMAGE OF GAME HERE }}
              <img
                class="rounded-full shadow-lg"
                src="/docs/images/people/profile-picture-5.jpg"
                alt="Thomas Lean image"
              />
            </span>
            <div
              class="p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600"
            >
              <div class="justify-between items-center mb-3 sm:flex">

                {{! WHEN COMMENTED }}
                <time
                  class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                >2 hours ago</time>

                {{! USER NAME HERE }}
                <div
                  class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                >
                  xBZRKR Reviewed

                  {{! GAME NAME HERES }}
                  <a
                    href="#"
                    class="font-semibold text-gray-900 dark:text-white hover:underline"
                  >Name Of Game</a></div>
              </div>
              <div
                class="p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
              >First game in a long time where you get exactly what you payed
                for and exactly what was advertised, no micro transactions, no
                battle pass, just a massive playground where the only one
                limiting your enjoyment and progression is you. The only thing
                as grand and marvelous as the world itself are the horrors
                attempting to keep you from your goals. Elden ring is as hard as
                you make it.Flaws are few and far between (a few npc quests were
                unfinished and guess what, its already been patched-looking at
                you coz!.) I wish other game developers put as much love, care,
                and dedication to its games, its fans, and its employees as
                FromSoftware has.</div>
            </div>
          </li>
          {{! CLOSING PREVIOUS REVIEWS }}
        </div>

        {{! PREVIOUS COMMENTS TIMELINE }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Previous Comments</h2>

          {{! HOW MANY REVIEWS THE USER HAS }}
          <a
            href="#"
            class="text-sm m-6 font-medium text-gray-900 underline hover:no-underline dark:text-white"
          >73 reviews</a>

          {{! PREVIOUS TIMELINE OF REVIEWS }}
          <li class="mb-10 ml-6">

            <span
              class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
            >
              {{! IMAGE OF GAME HERE }}
              <img
                class="rounded-full shadow-lg"
                src="/docs/images/people/profile-picture-5.jpg"
                alt="Thomas Lean image"
              />
            </span>
            <div
              class="p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600"
            >
              <div class="justify-between items-center mb-3 sm:flex">

                {{! WHEN COMMENTED }}
                <time
                  class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                >2 hours ago</time>

                {{! USER NAME HERE }}
                <div
                  class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                >
                  xBZRKR Commented on

                  {{! REVIEWER NAME GOES HERE }}
                  <div
                    class="font-semibold text-gray-900 dark:text-white hover:underline"
                  >
                    Name Of User
                  </div>
                </div>

              </div>
              <div
                class="p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
              >DUDE THIS IS SO TRUUUEEE.</div>
            </div>
          </li>

        </div>

        {{! CLOSING TAGS }}
      </div>
    </div>

  </div>
</main>
{{!-- <main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

    <div class="px-4 py-6 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">

        {{! ACCOUNT SETTINGS }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Account Settings</h2>

          {{! ACCOUNT INFO BOX }}
          <div class="bg-white shadow m-6 overflow-hidden sm:rounded-lg">
            <div class="px-4 py-5 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Applicant
                Information</h3>
              <p class="mt-1 max-w-2xl text-sm text-gray-500">Personal details
                and application.</p>
            </div>
            <div class="border-t border-gray-200">
              <dl>
                {{! NAME SECTION }}
                <div
                  class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! NAME TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Name</dt>
                  {{! USER NAME GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >Placement</dd>
                </div>

                {{! EMAIL SECTION }}
                <div
                  class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                >
                  {{! EMAIL TITLE }}
                  <dt class="text-sm font-medium text-gray-500">Email address</dt>
                  {{! USER EMAIL GOES HERE }}
                  <dd
                    class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
                  >placement@Example.com</dd>
                </div>

              </dl>
            </div>
          </div>

          {{! LOGOUT }}
          <button
            class="bg-indigo-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Logout
          </button>

          {{! DEACTIVATE ACCOUNT }}
          <button
            class="bg-red-500 m-6 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
          >
            Deactivatte Account
          </button>
        </div>

        {{! PREVIOUS REVIEWS RENDER  }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Previous Reviews</h2>

          {{! HOW MANY REVIEWS THE USER HAS }}
          <a
            href="#"
            class="text-sm m-6 font-medium text-gray-900 underline hover:no-underline dark:text-white"
          >73 reviews</a>

          {{! PREVIOUS TIMELINE OF REVIEWS }}
          <li class="mb-10 ml-6">

            <span
              class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
            >
              {{! IMAGE OF GAME HERE }}
              <img
                class="rounded-full shadow-lg"
                src="/docs/images/people/profile-picture-5.jpg"
                alt="Thomas Lean image"
              />
            </span>
            <div
              class="p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600"
            >
              <div class="justify-between items-center mb-3 sm:flex">

                {{! WHEN COMMENTED }}
                <time
                  class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                >2 hours ago</time>

                {{! USER NAME HERE }}
                <div
                  class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                >
                  xBZRKR Reviewed

                  {{! GAME NAME HERES }}
                  <a
                    href="#"
                    class="font-semibold text-gray-900 dark:text-white hover:underline"
                  >Name Of Game</a></div>
              </div>
              <div
                class="p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
              >First game in a long time where you get exactly what you payed
                for and exactly what was advertised, no micro transactions, no
                battle pass, just a massive playground where the only one
                limiting your enjoyment and progression is you. The only thing
                as grand and marvelous as the world itself are the horrors
                attempting to keep you from your goals. Elden ring is as hard as
                you make it.Flaws are few and far between (a few npc quests were
                unfinished and guess what, its already been patched-looking at
                you coz!.) I wish other game developers put as much love, care,
                and dedication to its games, its fans, and its employees as
                FromSoftware has.</div>
            </div>
          </li>
          {{! CLOSING PREVIOUS REVIEWS }}
        </div>

        {{! PREVIOUS COMMENTS TIMELINE }}
        <div>
          <h2 class="text-xl font-bold m-6 text-gray-900">Previous Comments</h2>

          {{! HOW MANY REVIEWS THE USER HAS }}
          <a
            href="#"
            class="text-sm m-6 font-medium text-gray-900 underline hover:no-underline dark:text-white"
          >73 reviews</a>

          {{! PREVIOUS TIMELINE OF REVIEWS }}
          <li class="mb-10 ml-6">

            <span
              class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
            >
              {{! IMAGE OF GAME HERE }}
              <img
                class="rounded-full shadow-lg"
                src="/docs/images/people/profile-picture-5.jpg"
                alt="Thomas Lean image"
              />
            </span>
            <div
              class="p-4 bg-white rounded-lg border border-gray-200 shadow-sm dark:bg-gray-700 dark:border-gray-600"
            >
              <div class="justify-between items-center mb-3 sm:flex">

                {{! WHEN COMMENTED }}
                <time
                  class="mb-1 text-xs font-normal text-gray-400 sm:order-last sm:mb-0"
                >2 hours ago</time>

                {{! USER NAME HERE }}
                <div
                  class="text-sm font-normal text-gray-500 lex dark:text-gray-300"
                >
                  xBZRKR Commented on

                  {{! REVIEWER NAME GOES HERE }}
                  <div
                    class="font-semibold text-gray-900 dark:text-white hover:underline"
                  >
                    Name Of User
                  </div>
                </div>

              </div>
              <div
                class="p-3 text-xs italic font-normal text-gray-500 bg-gray-50 rounded-lg border border-gray-200 dark:bg-gray-600 dark:border-gray-500 dark:text-gray-300"
              >DUDE THIS IS SO TRUUUEEE.</div>
            </div>
          </li>

        </div>

        {{! CLOSING TAGS }}
      </div>
    </div>

  </div>
</main> --}}