{{! WHATS HOT }}
<section class="bg-white">
  <div
    class="w-full px-5 py-6 mx-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-7xl"
  >
    {{! BANNER IMAGE }}
    <div class="flex flex-col items-center sm:px-5 md:flex-row">
      <div class="w-full md:w-1/2">
        <a href="#_" class="block">
          <img
            class="object-cover w-full h-full rounded-lg max-h-64 sm:max-h-96"
            src="https://cdn.devdojo.com/images/may2021/cupcakes.jpg"
          />
        </a>
      </div>

      {{! BANNER TEXT SECTION }}
      <div
        class="flex flex-col items-start justify-center w-full h-full py-6 mb-6 md:mb-0 md:w-1/2"
      >
        <div
          class="flex flex-col items-start justify-center h-full space-y-3 transform md:pl-10 lg:pl-16 md:space-y-5"
        >
          <div
            class="flex items-center pl-2 pr-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
          >
            <svg
              class=""
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            ><path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                class=""
              ></path></svg>
            <span class="">FEATURED GAMES</span>
          </div>
          <h1 class="text-4xl font-bold leading-none lg:text-5xl xl:text-6xl"><a
              href="#_"
              class=""
            >What's Hot in April 2022?</a></h1>
          <p class="pt-2 text-sm font-medium">by
            <a href="#_" class="mr-1 underline">ALT-F4</a>
            ·
            <span class="mx-1">April 23rd, 2021</span>
            ·
            <span class="mx-1 text-gray-600">Latest Games </span></p>
        </div>
      </div>
    </div>

    {{! ARTICLE SECTION }}
    <div class="flex grid grid-cols-12 pb-10 sm:px-5 gap-x-8 gap-y-16">

      {{! GAME 1 }}
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="/gamePage" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
            src="/images/elden-ring-title.jpg"
          />
        </a>
        <div
          class="flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
        >
          <span class="">Role-playing (RPG)</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl"><a
            href="#_"
            class=""
            {{! V is how to get the data to generate dynamically }}
          >Elden Ring</a></h2>
        <p class="text-sm text-gray-500">Elden Ring is a fantasy, action and
          open world game. Rise, Tarnished, and be guided by grace to brandish
          the power of the Elden Ring and become an Elden Lord in the Lands
          Between.</p>
        <p class="pt-2 text-xs font-medium"><a
            href="#_"
            class="mr-1 underline"
          >FromSoftware</a>
          ·
          <span class="mx-1">Feb 25, 2022</span>
          ·
          <span class="mx-1 text-gray-600">Metascore: 95%</span></p>
      </div>

      {{! GAME 2 }}
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
            src="/images/god-of-war.jpg"
          />
        </a>
        <div
          class="flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
        >
          <span class="">adventure</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl">God Of War</h2>
        <p class="text-sm text-gray-500">His vengeance against the Gods of
          Olympus years behind him, Kratos now lives as a man in the realm of
          Norse Gods and monsters. It is in this harsh, unforgiving world that
          he must fight to survive… and teach his son to do the same.</p>
        <p class="pt-2 text-xs font-medium"><a
            href="#_"
            class="mr-1 underline"
          >Santa Monica Studio</a>
          ·
          <span class="mx-1">Jan 14, 2022</span>
          ·
          <span class="mx-1 text-gray-600">Metascore: 95%</span></p>
      </div>

      {{! GAME 3 }}
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
            src="/images/Starwars.jpg"
          />
        </a>
        <div
          class="bg-red-500 flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
        >
          <span class="">Adventure</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl">LEGO Star Wars: The
          Skywalker Saga</h2>
        <p class="text-sm text-gray-500">Lego Star Wars: The Skywalker Saga is a
          third-person action-adventure with an open world hub. Choose to start
          the game from any of the main Skywalker Saga episodes and complete
          them in any order they wish.</p>
        <p class="pt-2 text-xs font-medium"><a
            href="#_"
            class="mr-1 underline"
          >Traveller's Tales</a>
          ·
          <span class="mx-1">Apr 05, 2022</span>
          ·
          <span class="mx-1 text-gray-600">Metascore: 81%</span></p>
      </div>

      {{! GAME 4 }}
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg max-h-56"
            src="/images/kirby.jpg"
          />
        </a>
        <div
          class="flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
        >
          <span class=""> Adventure</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl">Kirby and the
          Forgotten Land</h2>
        <p class="text-sm text-gray-500">Join Kirby in an unforgettable journey
          through a mysterious world in a delightful 3D platforming adventure.
          Take control of the powerful pink puffball, Kirby, and move around
          freely in 3D stages as you discover a mysterious world with abandoned
          structures from a past civilization - like a shopping mall?! Copy
          enemies’ abilities like Sword and Ice and use them to attack and
          explore your surroundings! What journey awaits Kirby? Take a deep
          breath and get ready for an unforgettable adventure!</p>
        <p class="pt-2 text-xs font-medium"><a
            href="#_"
            class="mr-1 underline"
          >Nintendo</a>
          ·
          <span class="mx-1">Mar 25, 2022</span>
          ·
          <span class="mx-1 text-gray-600">Metascore: 85%</span></p>
      </div>

      {{! GAME 5 }}
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg max-h-56"
            src="/images/ghostwire.png"
          />
        </a>
        <div
          class="flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
        >
          <span class="">Action</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl">Ghostwire: Tokyo</h2>
        <p class="text-sm text-gray-500">After strange disappearances hit
          Tokyo’s population, it’s up to you to uncover the source and purge the
          city of a strange, new evil. Armed with your own mysterious spectral
          abilities, you will face down the occult, unravel conspiracy theories
          and experience urban legends like never before.</p>
        <p class="pt-2 text-xs font-medium"><a
            href="#_"
            class="mr-1 underline"
          >Tango Gameworks</a>
          ·
          <span class="mx-1"> 25 March 2022</span>
          ·
          <span class="mx-1 text-gray-600">Metascore: 75%</span></p>
      </div>

      {{! GAME 6 }}
      <div
        class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
      >
        <a href="#_" class="block">
          <img
            class="object-cover w-full mb-2 overflow-hidden rounded-lg max-h-56"
            src="/images/horizon.jpg"
          />
        </a>
        <div
          class="flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
        >
          <span class="">Role-playing (RPG)</span>
        </div>
        <h2 class="text-lg font-bold sm:text-xl md:text-2xl">Horizon Forbidden
          West</h2>
        <p class="text-sm text-gray-500">Horizon Forbidden West continues Aloy’s
          story as she moves west to a far-future America to brave a majestic,
          but dangerous frontier where she’ll face awe-inspiring machines and
          mysterious new threats.</p>
        <p class="pt-2 text-xs font-medium"><a
            href="#_"
            class="mr-1 underline"
          >Guerrilla Games</a>
          ·
          <span class="mx-1">18 February 2022</span>
          ·
          <span class="mx-1 text-gray-600">Metascore: 88%</span></p>
      </div>

      {{! EXPLORE PAGE HEADER }}
      <section
        class="relative block py-20 overflow-hidden leading-6 text-left text-indigo-900 bg-white"
      >
        <div
          class="w-full max-w-2xl px-16 mx-auto leading-6 text-left sm:px-12 md:px-8 xl:px-12"
        >
          <div
            class="relative w-full px-4 leading-6 text-center xl:flex-grow-0 xl:flex-shrink-0 lg:flex-grow-0 lg:flex-shrink-0"
          >
            <div
              class="box-border text-sm font-semibold uppercase text-indigo-500"
            >Top Rated Games</div>
            <h2
              class="box-border mx-0 mt-6 mb-0 font-sans text-4xl font-bold leading-tight sm:text-5xl md:text-6xl text-gray-800"
            >Explore More</h2>
          </div>
        </div>
      </section>

      {{! DYNAMIC TOP RATED GAMES }}
      {{! This is for looping through the homepagegames() to display them }}
      {{#each games as |game|}}

        {{! GAME DYNAMIC }}
        <div
          class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4"
        >
          <a href="#_" class="block">
            <img
              class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56"
              src="{{game.cover.url}}"
            />
          </a>
          <div
            class="flex items-center px-3 py-1.5 leading-none rounded-full text-xs font-medium uppercase text-white inline-block bg-indigo-500"
          >
            <span class="">{{game.genre}}</span>
          </div>
          <h2 class="text-lg font-bold sm:text-xl md:text-2xl"><a
              href="#_"
              class=""
              {{! V is how to get the data to generate dynamically }}
            >{{game.name}}</a></h2>
          <p class="text-sm text-gray-500">{{game.summary}}</p>
          <p class="pt-2 text-xs font-medium"><a
              href="#_"
              class="mr-1 underline"
            >FromSoftware</a>
            ·
            <span class="mx-1">Feb 25, 2022</span>
            ·
            <span class="mx-1 text-gray-600">Metascore: 95%</span></p>
        </div>
      {{/each}}

    </div>
  </div>
</section>

{{! GREY SEPERATION LINE }}
<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

{{! SIDEBAR FILTERS }}
<div>
  <aside class="mx-10">

    {{! FILTER HEADING }}
    <h5 class="text-xl mx-5 font-bold text-gray-700">Filter By</h5>

    {{! RECOMMENDED }}
    <div class="grid mx-5">

      <h5 class="text-l font-bold text-indigo-600">Recommended</h5>
      <nav class="mt-4">
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-base hover:text-gray-500">Most Recent</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Highest Rated</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Placement</a>
          </li>
        </ul>
      </nav>

    </div>

    {{! BY GENRE }}
    <div class="grid mx-5">

      <h5 class="text-l font-bold text-indigo-600">By Genre</h5>
      <nav class="mt-4">
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-base hover:text-gray-500">Horror</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Indie</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Action</a>
          </li>
        </ul>
      </nav>

    </div>

    {{! By Platform }}
    <div class="grid mx-5">

      <h5 class="text-l font-bold text-indigo-600">By Platform</h5>
      <nav class="mt-4">
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-base hover:text-gray-500">PC</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Xbox</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">PlayStation</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Switch</a>
          </li>
        </ul>
      </nav>

    </div>

  </aside>
</div>