{{! Side Bar }}
<div>
  <aside class="mx-10">

    {{! FILTER HEADING }}
    <h5 class="text-xl mx-5 font-bold text-gray-700">Filter By</h5>

    {{! RECOMMENDED }}
    <div class="grid mx-5">

      <h5 class="text-l font-bold text-indigo-600">Recommended</h5>
      <nav class="mt-4">
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-base hover:text-gray-500">Most Recent</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Highest Rated</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Placement</a>
          </li>
        </ul>
      </nav>

    </div>

    {{! BY GENRE }}
    <div class="grid mx-5">

      <h5 class="text-l font-bold text-indigo-600">By Genre</h5>
      <nav class="mt-4">
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-base hover:text-gray-500">Horror</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Indie</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Action</a>
          </li>
        </ul>
      </nav>

    </div>

    {{! By Platform }}
    <div class="grid mx-5">

      <h5 class="text-l font-bold text-indigo-600">By Platform</h5>
      <nav class="mt-4">
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-base hover:text-gray-500">PC</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Xbox</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">PlayStation</a>
          </li>
          <li>
            <a href="#" class="text-base hover:text-gray-500">Switch</a>
          </li>
        </ul>
      </nav>

    </div>

  </aside>
</div>