<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
    <h1 class="">This is the login page page</h1>

    <nav class="navbar">
      <ul >
          <li><a href="./index.html">Home</a></li>
          <li><a href="./explore.html">Explore</a></li>
          <li><a href="./login.html">Login</a></li>
          <li><a href="./discord">Discord</a></li>
          
      </ul>
  </nav>


        <div class="login-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="psw">
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
</body>
</html>