{{! <div class="login-container">
  <form action="/action_page.php">
    <input type="text" placeholder="Username" name="username" />
    <input type="text" placeholder="Password" name="psw" />
    <button type="submit">Login</button>
  </form>
</div> }}

<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>

      <a type="button" href="/signup">Sign Up</a>

    </form>
  </div>

</div>

<script src="./js/login.js"></script>