{{! SIGNUP PARTIAL }}
<div
  class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>

  <div class="max-w-md w-full space-y-8">

    <div>
      {{! HERO ICON }}
      <img
        class="mx-auto h-12 w-auto"
        src="/images/6_copy.png"
        alt="ALTF4_Logo"
      />

      {{! TITLE }}
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Create
        an account</h2>
    </div>

    {{! SIGN UP INPUT }}
    <form class="mt-8 space-y-6" method="POST">

      {{! INPUT FIELDS }}
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md shadow-sm -space-y-px">

        {{! NAME }}
        <div>
          <label for="email-login" class="sr-only">Name</label>
          <input
            id="name-signup"
            name="name"
            type="text"
            autocomplete="name"
            class="form-input appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Name"
          />
        </div>

        {{! EMAIL }}
        <div>
          <label for="email-login" class="sr-only">Email address</label>
          <input
            id="email-signup"
            name="email"
            type="text"
            autocomplete="email"
            class="form-input appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-none focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email address"
          />
        </div>

        {{! PASSWORD }}
        <div>
          <label for="password-login" class="sr-only">Password</label>
          <input
            id="password-signup"
            name="password"
            type="password"
            autocomplete="current-password"
            class="form-input appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Password"
          />
        </div>
      </div>

      <div class="flex items-center justify-between">
        {{! REMEMBER ME CHECK BOX }}
        <div class="flex items-center">
          <input
            id="remember-me"
            name="remember-me"
            type="checkbox"
            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
          />
          <label for="remember-me" class="ml-2 block text-sm text-gray-900">
            Remember me
          </label>
        </div>

        {{! FORGOT PASSWORD }}
        <div class="text-sm">
          <a
            href="/login"
            class="font-medium text-indigo-600 hover:text-indigo-500"
          >
            Already have an Account?
          </a>
        </div>
      </div>

      {{! SIGN UP BUTTON }}
      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >

          {{! BUTTON LOCK ICON }}
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">

            <svg
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </span>
          Sign Up
        </button>
      </div>

      {{! FORM CLOSING TAGS }}
    </form>
  </div>
</div>

<script src="./js/signUp.js"></script>

{{! OLD SIGNUP }}
{{! <div class="row">

  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
      <a type="button" href="/login">Login</a>
    </form>
  </div>
</div> }}