@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {background-color: #1d1d1d;}

/* navbar */

.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar::before{
  content: "";
  position: absolute;
  background-color: #686ebb;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif ;
}

.navbar ul li a{
  padding: 5px 20px;
  text-decoration: none;
  color: #f4f4f4;
}

.navbar ul li a:hover{
  color: #5d62a9;
}

.headings {
  color: #f4f4f4;
}

